<!-- @for (elemento of inmuebles; track elemento.idm) {
    @if (id == elemento.idm) {
        <div class="container text-center">
            <h1 class="mb-4">{{elemento.nombre}}</h1>
            <img class="img-fluid mb-4" [src]="'../../assets/img/picture' + elemento.idm + '.jpg'" alt="Imagen del inmueble" style="width: 500px; height: 300px;">
            <p>{{elemento.detalles}}</p>
        </div>
    }
} -->
<div class="container text-center">
    <h1 class="mb-4">{{inmueble?.nombre}}</h1>
    <img class="img-fluid mb-4" [src]="'../../assets/img/picture' + id + '.jpg'" alt="Imagen del inmueble" style="width: 500px; height: 300px;">
    <p>{{inmueble?.detalles}}</p>
</div>

