<h3>Introduzca los datos del producto</h3>  
<div class="container">
        <label>ID del producto</label> <br>
        <input type="number" class="form-control" [(ngModel)]="idProductoSelected">  

        <label>Nombre del producto</label> <br>
        <input type="text" class="form-control" [(ngModel)]="nombreProductoSelected">

        <label>Precio del producto</label> <br>
        <input type="number" class="form-control" [(ngModel)]="precioUnitarioSelected">

        <label>Discontinuado</label> <br>
        <input type="number" class="form-control" [(ngModel)]="discontinuadoSelected">
    
        <br>
        <button (click)="insertarProducto()" class="btn btn-success mt-auto">Alta</button>
</div>

